* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#header {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 1;
}

#header-img {
  width: auto;
  height: 78px;
  vertical-align: center;
  padding: 2px 0 1px;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nav-bar ul li {
  display: inline-block;
  padding: 20px;
}

#nav-bar ul li a {
  text-decoration: none;
  color: #fff;
}

.section1,
.section3 {
  width: 100vw;
  padding: 20px 0;
  background-color: burlywood;
  margin-top: 40px;
}

@media screen and (max-width: 568px) {
  .section3 {
    margin-top: 30px;
  }
}

.section1 {
  margin-top: 80px;
}

.holder .info {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.para {
  width: 50%;
}
.section2 {
  width: 100vw;
  padding: 10px 0;
  margin-top: 20px;
}

/* .holder {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
} */
.holder h2 {
  margin-top: 4px;
  text-align: center;
}

.holder .video {
  margin-top: -50px;
  display: flex;
  justify-content: center;
}

.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="email"] {
  padding: 5px;
  width: 200px;
}

input[type="submit"] {
  padding: 5px;
  background-color: chocolate;
}

footer {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
