* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#header {
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: rgb(173, 159, 173);
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
}

#nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  position: relative;
  top: 0;
  right: 0;
  padding-right: 25px;
}

#nav-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nav-bar ul li {
  display: inline-block;
  padding: 10px;
}

#nav-bar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

#nav-bar ul li :hover {
  /* background-color: rgba(145, 37, 145, 0.76); */
  background-color: rgba(58, 5, 58, 0.76);
  color: #fff;
  padding: 15px 18px 15px 15px;
}

.section1 {
  margin-top: 50px;
  /* border: 1px solid purple; */
}

.about {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  line-height: 1.4;
  width: 60%;
  padding: 50px;
  /* border: 1px solid red; */
  background-color: rgb(243, 236, 243);
}

.about h1 {
  color: rgba(128, 0, 128, 0.76);
}

#prof_pic {
  width: 120px;
  height: 120px;
  /* border-radius: 50%; */
}

.textual {
  margin-left: 10px;
}

.contact {
  display: flex;
  padding: 5px;
  width: 75%;
  margin: 0 auto;
  justify-content: center;
  /* border: 1px solid green; */
}

.contact a {
  padding: 10px 10px 10px 0;
  /* text-decoration: none; */
  color: rgb(206, 88, 206);
}

.contact a:hover {
  color: rgb(131, 21, 131);
}

#education h2,
#trainings h2,
#skills h2,
#achievements h2 {
  text-align: center;
  padding: 5px 0;
  background-color: rgba(58, 5, 58, 0.76);
  color: #fff;
}

.title {
  width: 60%;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.education,
.trainings,
.skills,
.achievements {
  text-align: left;
  margin: 0 auto;
  line-height: 1.4;
  width: 60%;
  padding: 20px;
  /* border: 1px solid blue; */
  background-color: rgb(243, 236, 243);
}

.btech,
.twelveth,
.tenth,
.web,
.tech,
.praise {
  width: 100%;
  padding: 5px;
  /* border: 1px solid yellow; */
}

.education .heading,
.trainings .heading {
  display: flex;
  justify-content: space-between;
}

.proj {
  margin-left: 25px;
}
